<body>
  <main>
    <div class="head">
      <div class="logo">
        <img class="tdlogo" src="../../assets/td_logo.png" alt="Image not found!">
      </div>
      <div class="teksti">
        <p class="gm">Guest mode</p>
        <h2 class="teksti">
          Travel Delight
        </h2>
      </div>

    </div>
    <div class="nappula">
      <img class="napukka" src="../../assets/csbutton.png">
    </div>
    <div class="nappula">
      <img class="napukka" src="../../assets/wbutton.png">
    </div>
    <div class="nappula">
      <img class="napukka" src="../../assets/sbutton.png">
    </div>


  </main>
  <footer>
    <p class="footertext">&#169; Dragon Riders 2024</p>
  </footer>
</body>