.montserrat-body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: thin;
}

body {
  font-family: "Montserrat";
}

div.head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding-top: 30px;
  grid-template-areas:
    "logo teksti teksti ."
    "logo . . ."
    "lb lb lb lb";
}

p.gm {
  display: flex;
  justify-content: center;
  align-self: center;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: rgba(0, 0, 0, 0.168) 1px 1px 2px;
}
h2.teksti {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 1.25em;
  text-shadow: rgb(0, 0, 0) 1px 1px 1px;
  color: rgba(0, 0, 0, 0.7);
  opacity: 0.9;
}

.tdlogo {
  max-width: 80px;
  border-radius: 7%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 2px 2px 3px rgba(0, 0, 0, 0.2);
  border: 2px solid transparent;
  align-items: center;
}

.nappula {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  opacity: 0.74;
}

img.napukka {
  width: 90%;
  margin: 3.5% 0% 0% 0%;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 5px 4px 10px rgba(0, 0, 0, 0.3);
  animation: fadeInSlide 0.8s;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 2px solid transparent;
}

img.napukka:hover {
  margin: 4.2% 0% 0% 0%;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 2px solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 3px 2px 1px rgba(0, 0, 0, 0.3);
}

img.napukka:active {
  margin: 4.2% 0% 0% 0%;
  border-top: 3px solid #00219a;
  border-right: 3px solid #00219a;
  border-left: 3px solid #00219a;
  border-bottom: 2px solid #00219a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 3px 2px 1px rgba(0, 0, 0, 0.3);
}

img.napukka1 {
  width: 90%;
  margin: 3.5% 0% 0% 0%;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 5px 4px 10px rgba(0, 0, 0, 0.3);
  animation: fadeInDelay1s 1.6s;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 2px solid transparent;
}
img.napukka1:hover {
  margin: 4.2% 0% 0% 0%;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 2px solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 3px 2px 1px rgba(0, 0, 0, 0.3);
}
img.napukka2 {
  width: 90%;
  margin: 3.5% 0% 0% 0%;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 5px 4px 10px rgba(0, 0, 0, 0.3);
  animation: fadeInDelay2s 2.4s;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 2px solid transparent;
}
img.napukka2:hover {
  margin: 4.2% 0% 0% 0%;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 2px solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 3px 2px 1px rgba(0, 0, 0, 0.3);
}

.logo {
  margin-left: 20%;
  grid-area: logo;
}

.teksti {
  grid-area: teksti;
}

.header {
  grid-area: header;
}

p.footertext {
  text-align: center;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 420px) {
  .linebreak {
    margin-top: 20px;
  }
}

@media screen and (min-width: 740px) {
  .nappulat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "napukka napukka1 napukka2";
  }
}
