<main>
  <div class="head">
    <div class="logo">
      <img class="tdlogo" src="../../assets/td_logo.png" alt="Image not found!">
    </div>
    <div class="teksti">
      <p class="gm">Guest mode</p>
      <h2 class="teksti">
        Travel Delight
      </h2>
    </div>
  </div>
  <div class="linebreak"></div>
  <div class="nappula">
    <img class="napukka" src="../../assets/csbutton.png" alt="Image not found" (click)="navigateToMap()">
  </div>
  <div class="nappula">
    <img class="napukka1" src="../../assets/wbutton.png" alt="Image not found" (click)="navigateToWeather()">
  </div>
  <div class="nappula">
    <img class="napukka2" src="../../assets/sbutton.png" alt="Image not found">
  </div>

</main>