.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Vie koko näytön korkeus */
}

.map-container {
  flex: 1; /* Venyttää karttaa täyttämään käytettävissä oleva tila */
  position: relative; /* Voit sijoittaa muita elementtejä suhteessa tähän */
}

#map {
  height: 100%; /* Vie koko käytettävissä oleva tila */
}

.table-container {
  flex: 1; /* Venyttää taulukkoa täyttämään käytettävissä oleva tila */
  overflow-y: auto; /* Lisää vierityspalkki tarvittaessa */
}
