<main>
  <div class="logo">
    <img class="tdlogo" src="../../assets/td_logo.png" alt="Image not found!" />
  </div>
  <div class="login">
    <!--<ng-container *ngIf="isLoggedIn; else loginForm">
      <button class="logout-button" (click)="logout()">Kirjaudu ulos</button>
    </ng-container>-->

    <form *ngIf="!isLoggedIn" (ngSubmit)="login()" name="iform" method="post">
      <form id="loginput" name="iform" method="post">
        <input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="username"
          required
          autofocus
          class="input"
          placeholder="Email address"
        />
      </form>
      <form id="loginput" name="iform" method="post">
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          required
          autofocus
        />
      </form>
      <button type="submit"><a routerLink="/etusivu">Log in as user</a></button>
    </form>
    <button><a routerLink="/etusivu" target="_self">Guest mode</a></button>
    <div class="link">
      <a class="smalltext" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        >Forgot password?</a
      >
    </div>
  </div>
</main>
