<div class="content" [formGroup]="searchForm">
  <input type="text" class="search-input" placeholder="Enter City" formControlName="city">
  <button class="search-button" (click)="loadData(searchForm.value.city)">Search</button>
</div>

<div class="content" *ngIf="data">
  <div class="row">
    <div class="image-container">
      <img class="imits" [src]="data.imageUrl" alt="Weather Icon">
      <div class="temperature">
        <p>Temperature: {{data.temp}}°C</p>
      </div>
      <div class="row">
        <div class="section-2">
          <div class="top-info">
            <p>Expected temperature: {{data.feelslike}}°C</p>
          </div>
        </div>
        <div class="bottom-info">
          <div class="info-box">
            <p>humidity: {{data.humidity}}</p>
          </div>
          <div class="info-box">
            <p>Pressure: {{data.pressure}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>