.content {
  margin: 20px;
  padding: 2% 2% 2% 2%;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.237);
}

.search-input {
  margin-right: 10px;
  font-family: "Montserrat";
  font-size: 0.9em;
  text-align: center;
  padding: 2% 0% 2% 0%;
  background-color: rgba(12, 20, 60, 0.1);
  border-radius: 25px;
  border: 0px solid black;
  width: 70%;
}

.search-button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 0.9em;
  text-align: center;
  padding: 2% 2% 2% 2%;
  margin: 1% 0% 1% 0%;
  background-color: rgba(12, 20, 60, 0.1);
  border-radius: 25px;
  border: 0px solid black;
  width: 26%;
}

img.mGlass {
  height: 0.9em;
  opacity: 0.4;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.image-container {
  margin: 10px 0;
}

.imits {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.temperature {
  font-size: 20px;
  font-weight: bold;
}

.section-2 {
  margin: 10px 0;
}

.top-info,
.bottom-info {
  margin: 5px 0;
}

.info-box {
  background-color: #f9f9f9;
  padding: 5px;
  margin: 5px;
}

.error-message {
  color: red;
  font-weight: bold;
}
