/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
}
body {
  background-image: linear-gradient(to bottom right, #99caff, #00219a);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

p.footertext {
  text-align: center;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.4);
}

div.footerspace {
  height: 100px;
  opacity: 0;
}

div.linebreak {
  background-color: black;
  opacity: 0.3;
  height: 1px;
  margin: 0px 10% 5px 10%;
  grid-area: lb;
}

input:focus {
  outline: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInSlide {
  0% {
    margin-top: 10%;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDelay1s {
  0% {
    opacity: 0;
    margin-top: 10%;
  }
  50% {
    opacity: 0;
    margin-top: 10%;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDelay2s {
  0% {
    margin-top: 10%;
    opacity: 0;
  }
  66.6% {
    margin-top: 10%;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 550px) {
  .linebreak {
    margin-top: 20px;
  }
}
